#conte {
    display: flex;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#conte .menu-ladinho{
    width: 11%;
}

#conte #main {
    padding: 0;
    margin: 0;
    width: 89%;
    display: flex;
    flex-direction: column;
}

#conte #docu{
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    background-color: #0D1117;
    color: white;
}

@media (max-width: 1130px) {

    #menu-ladinho{
      display: none;
      width: 0%;
    }

    #conte #main{
      width: 100%;
    }
  
  }