/*  Foco em configuraçoes gerais */

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

/* tamanho  tela */
.container {
  display: flex;
  flex-direction: row;
}

#menu {
  display: flex;
  flex-direction: column;
  width: 85%;
}

#menu-ladinho{
  display: flex;
  flex-direction: row;
  width: 15%;
}

main {
  background-color: #040404;
  position: relative;
  height: 100%;
}

/*  */

