blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
Flask==1.0.2  
gunicorn==21.2.0
idna
itsdangerous
Jinja2
MarkupSafe

psycopg2==2.8.5  


hashlib
numpy 
packaging
pandas 
python-dateutil 
pytz
requests  
six
tzdata
urllib3
Werkzeug  
