/*  Foco em barra lateral */
aside {
    background-color: #1E1E1E;
    width: 100%;
    height: 100%;
}


/* logo */

#logo a img{
    width: 83%; 
}

#logo{
    width: 100%;
    padding-top: 5px;
    text-align: center;
}

/* navbar */
#nav h2{
   color: rgba(255, 255, 255, 0.40);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   margin-left: 20px;
   font-size: 16px;
   font-weight: 100;
}


.navbar ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar ul li{
    display: flex;
    width: 100px;
    height: 40px;
    margin: auto;
    color: azure;
}
.navbar ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 17px;
    color: azure;
}

.navbar ul li img{
    padding-bottom: 5px;
    width: 20px;
    padding-right: 7px;
}

.navbar ul li a:active{
    color: azure;
}
