header {
    background-color: #040404;
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 10px 30px -22px rgba(255, 255, 255, 0.788);
    padding-bottom: 0px;
    min-height: 60px;
    z-index: 2;
}


/* APIS UTILZIADAS */
#div_pai {
    width: 60%;
    margin: 0;
    display: flex;
}

header .apis {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    overflow: hidden;
}

header .api_txt {
    color: gray;
    opacity: 0.9;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 8px;
}

header .api_imgs {
    height: 100%;
    margin-top: 3px;
    margin-left: 2px;
   justify-content: space-between;
}

.api_imgs a img {
    width: auto;
    height: 30px;
    margin: 10px 5px; 
    filter: grayscale(1);
}


/* USUARIO E CLIMA */
#user_weather {
    display: flex;
    align-content: space-between;
    flex-direction: row-reverse;
    width: 40%;
    
}

header .user_menu {
    background-color: #444;
    color: #fff;
    margin: 0 50px 0 0;
    height: 100%;
    width: 20vh;
    display: flex;   
}

#user_icon {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#user_icon img {
    width: 80%;
}

#user_name {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
#user_name p {
    padding: 0;
    margin: 0;
}
#p_g {
    margin-top: 17px !important;
    font-size: 15px;
    margin-left: 2px;
    text-align: center;
}

#p_p {
    font-size: 13px;
    margin-left: 2px;
    text-align: center;
}

#weather {
    width: 23vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    margin-right: 10px;
    
}

#teste {
    align-items: start;
    text-align: end;

    display: flex;
    flex-direction: row-reverse;
    height: 50%;
}

#icon img {
    
    width: 2vw;
    min-width: 30px;
}

#city {
    text-align: end;
    margin-right: 5px;
    width: 100%;

}

#temp {
    margin-right: 5px;
    margin-top: 8px;
    width: 15vh;
}

@media (max-width: 1130px) {
    #div_pai{
        display: none;
    }
    #user_weather{
        justify-content: space-between;
        width: 100%;
    }
}   
