header {
    background-color: #040404;
    justify-content: space-between;
    flex-direction: row-reverse;
    display: flex;
    box-shadow: 0px 5px 50px -22px rgba(255, 255, 255, 0.788);
    padding-bottom: 0px;
    max-height: 105px;
}

header .user_menu {
    background-color: #444;
    color: #fff;
    margin-right: 70px;
    height: 100%;
    width: 115px;
}

header .apis {
    color: whitesmoke;
    opacity: 0.9;
    font-size: 18px;
    line-height: 1.5;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: min-content;
    height: min-content;
    margin-left: 30px;
    margin-top: 5px;
}

header .api_imgs {
    height: 100%;
    margin-left: 30px;
    border: 2px solid red;
}