header {
    background-color: #040404;
    justify-content: space-between;
    flex-direction: row-reverse;
    display: flex;
    box-shadow: 0px 10px 30px -22px rgba(255, 255, 255, 0.788);
    padding-bottom: 0px;
    min-height: 60px;
    z-index: 2;
}

header .user_menu {
    background-color: #444;
    color: #fff;
    margin-right: 70px;
    height: 100%;
    width: 115px;
}

header .apis {
    width: 40%;
    display: flex;
}

header .api_txt {
    color: gray;
    opacity: 0.9;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: min-content;
    height: min-content;
    margin-left: 30px;
    margin-top: 5px;
}

header .api_imgs {
    height: 80%;
    width: auto;
    margin-top: 8px;
    margin-left: 20px;

}

#aa {
    width: 30%;
    margin-bottom: 12px;
}

#bb {
    width: 50%;
    margin-bottom: 15px;
    margin-left: 18px;
}