#bolsa_box {
    padding-top: 20px;
    background-color: #f1f1f100;
    margin: 0 auto;
    width: 100%;
    height: 105px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}


/* itens */

.bolsa_item {
    background-color: rgba(63, 62, 65, 0.438);
    box-shadow: 0px 2px 3px 1px rgb(249, 249, 249, 0.7);
    border-radius: 5px;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 5px 25px;
    border-radius: 5px;
    min-height: 93px;
    min-width: 160px;
    width: 160px;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
}

.titulo_box {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.titulo_box img{
    width: 20px;
    padding: 5px 5px;
    margin: 0;
}

.titulo_box p {
    padding-top: 5px;
    padding-left: 5px;
    margin: 0;
    display: flex;
}

.bolsa_item .closed {
    
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 5px 0px 0px 5px;

    text-align: left;
    font-size: 13px;
}
.bolsa_item  .footer-box{
    margin-left: 5px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.baixa {
    color: rgba(204, 20, 20, 0.777);
}
.alta {
    color: rgba(18, 178, 18, 0.696);
}
/* Estilize a barra de rolagem no Chrome e no Edge */
#bolsa_box::-webkit-scrollbar {
    height: 0px;
    width: 2px; /* Define a largura da barra de rolagem */
}

#bolsa_box::-webkit-scrollbar-thumb {
    background-color: #888; /* Define a cor do polegar da barra de rolagem */
}

#bolsa_box::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Define a cor do polegar da barra de rolagem quando hover */
}

#bolsa_box::-webkit-scrollbar-track {
    background-color: #f1f1f11b; /* Define a cor da pista da barra de rolagem */
}