#bolsa_box {
    padding-top: 20px;
    background-color: #f1f1f100;
    margin: 0 auto;
    width: 100%;
    height: 105px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.bolsa_item {
    background-color: rgb(63, 62, 65);
    border-radius: 5px;
    padding: 0;
    display: flex;
    text-align: center;
    margin: 5px 25px;
    border-radius: 5px;
    min-height: 90px;
    min-width: 150px;
    font-weight: 800;
}


.bolsa_item a {
    color: #e2e2e2fa;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bolsa_item a h4 {
    justify-content: space-between;
    margin: 0;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    margin: 4px 2px;
    margin-left: 7px;
}
.bolsa_item a span {
    background-image: url(../Doll.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}
.bolsa_item a p {
    padding-top: 25px;
    margin-left: 5px;
    text-align: left;
    
}
.bolsa_item a span {
    display: block;
    align-self: left;
    font-size: 15px;
}

/* Estilize a barra de rolagem no Chrome e no Edge */
#bolsa_box::-webkit-scrollbar {
    height: 0px;
    width: 2px; /* Define a largura da barra de rolagem */
}

#bolsa_box::-webkit-scrollbar-thumb {
    background-color: #888; /* Define a cor do polegar da barra de rolagem */
}

#bolsa_box::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Define a cor do polegar da barra de rolagem quando hover */
}

#bolsa_box::-webkit-scrollbar-track {
    background-color: #f1f1f11b; /* Define a cor da pista da barra de rolagem */
}