/* layout da pagina */

.container {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

#menu-ladinho {
  background-color: #1E1E1E;
  width: 11%;
  height: 100%;
  top: 0;
  left: 0;
}

#menu {
  height: 100%;
  width: 89%;
  display: flex;
  flex-direction: column;
}

#menu header {
  background-color: #040404;
  height: 5%;
}

#menu main {
  background-color: #040404fb;
  height: 85%;
  border: 2px solid red;
}

#menu footer {
  border-top: 1px solid white;
  background-color: #040404fb;
  height: 10%;
  min-height: 55px;
  display: flex;
  justify-content: end;
  align-items: end;
}


/* footer */
.git-social a {
  background-color: #1E1E1E;
  border: 1px solid rgba(255, 255, 255, 0.353);
  padding: 2px 4px;
  margin: 5px;
  font-size: 13px;
  color: white;
  display: flex;
  height: 15px;
  align-items: center;
  text-decoration: none;

}

.git-social a:visited {
  color: white;
}

.git-social a img {
  border-right: 1px solid rgba(255, 255, 255, 0.248);
  margin-right: 5px;
  min-width: 15px;
  height: 15px;
}